<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Editar Subcategoria</h2>
          <p class="text-muted mb-0">Categoria: <%= @category.title %></p>
        </div>
        <div class="card-body">
          <%= render 'form', subcategory: @subcategory %>
        </div>
      </div>
    </div>
  </div>
</div>
