<footer class="footer-responsive mt-5">
  <div class="container-fluid px-4 px-md-5">
    <div class="row footer-main-content justify-content-center">
      <!-- Informações de Contato -->
      <div class="col-12 col-lg-7 col-xl-8 footer-left pe-lg-4">
        <!-- Centro Mogi Guaçu -->
        <div class="footer-location mb-4">
          <h5 class="footer-title">CENTRO DE AFIAÇÃO E DISTRIBUIÇÃO SERRA CIRCULAR - MOGI GUAÇU</h5>
          <ul class="footer-info-list">
            <li><span class="footer-info">Endereço: Rua Eli Paulo Colombo, 1470 - Jardim Sakaida, Mogi Guaçu - SP</span></li>
            <li><span class="footer-info">CEP: 13.849-702</span></li>
            <li><span class="footer-info">Telefones: +55(19)3831-5457</span></li>
            <li><span class="footer-info">E-mail: contato@hiperionserras.com.br</span></li>
          </ul>
        </div>

        <!-- Centro Poá -->
        <div class="footer-location">
          <h5 class="footer-title">CENTRO DE AFIAÇÃO E DISTRIBUIÇÃO SERRA FITA - POÁ</h5>
          <ul class="footer-info-list">
            <li><span class="footer-info">Endereço: Av. Getúlio Vargas, 692 - Calmon Viana - Poá/SP</span></li>
            <li><span class="footer-info">CEP: 085600-000</span></li>
            <li><span class="footer-info">Telefones: +55(19)3831-5457</span></li>
            <li><span class="footer-info">E-mail: contato@hiperionserras.com.br</span></li>
          </ul>
        </div>
      </div>

      <!-- Logo e Informações da Empresa -->
      <div class="col-12 col-lg-5 col-xl-4 footer-right ps-lg-4">
        <div class="footer-brand">
          <%= image_tag "logo.png", class: "footer-logo" %>
          <p class="footer-company-info">
            Hiperion Serras Hiperion Comercio e Servicos em Geral LTDA CNPJ 43.290.793/0001-33
          </p>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-12">
        <div class="footer-copyright" data-controller="dynamic-year">
          © <span data-dynamic-year-target="year">2025</span> - Hiperion Serras - Direitos Reservados
        </div>
      </div>
    </div>
  </div>
</footer>
