<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header bg-warning text-dark">
          <h3 class="card-title mb-0">
            <i class="fa-solid fa-newspaper me-2"></i>
            Nova Notícia
          </h3>
        </div>
        <div class="card-body">
          <%= render 'form', news: @news %>
        </div>
      </div>
    </div>
  </div>
</div>
