<header class="mb-5 w-100" style="background-color: transparent;">
	<span class="inter-span-header bg-black p-5 d-flex justify-content-center">
		<%= image_tag "logo.png", class: "logo-nav ms-5" %>
	</span>
</header>

<section class="d-flex justify-content-evenly mt-5 align-items-center" style="position: relative;">
	<%= image_tag "construction/elipse.png", class: "elipse-img" %>
	<%= image_tag "construction/vector.png", class: "vector-img" %>

	<div class="left-section">
		<h1 class="inter-h1">Oops!</h1>
		<h4 class="inter-h4">Site em construção</h4>
		<span class="inter-span-section">
			Estamos trabalhando duro, em breve, <br>
			você poderá explorar e aproveitar todas <br>
			as funcionalidades do nosso novo site. <br>
			Fique ligado!
		</span>
	</div>
	<div class="right-section">
		<%= image_tag "construction/right-section-image.png", class: "img-fluid" %>
	</div>
</section>


