<span class="banner">
  <%= image_tag "banner.png", class: "img-fluid", style: "width: 100%;" %>
</span>
<section class="hero-tagline-section">
  <div class="hero-tagline-container">
    <h2 class="hero-tagline-text">
      Lâminas de alta tecnologia e precisão que a sua empresa precisa
    </h2>
  </div>
</section>