.left-footer {
  ul li span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
  }
  
  .span-title {
    font-size: 13px;
    font-weight: bold;
    color: #F7C21A;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}