$bg-color: #000000;
$border-color: #000000;
$icon-color: #FFFFFF;
$text-color: #FFFFFF;
$active-color: #F7C21A;
$font-size: 14px;

.mobile-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bg-color;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-around;
  padding: 0 !important;
  margin: 0 !important;

  .navbar-item {
    color: $icon-color;
    list-style-type: none;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    i {
      font-size: 24px;
      margin-bottom: 4px;
      color: $icon-color;
    }

    span {
      display: block;
      color: $icon-color;
      font-family: "Plus Jakarta Sans", sans-serif;
    }

    &.active {
      span {
        color: $active-color;
      }

      i {
        filter: none;
        color: $active-color;
      }
    }
  }

}

.navbar {
  display: none !important;
  height: 100px;
  background-color: $bg-color;

  .avatar-nav, .logo-nav {
    height: 80%;
  }

  .btn-circles {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .btn-nav {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      background-color: $active-color;
      border-radius: 50%;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 20px;
          color: $icon-color;
        }
      }
    }

    .link-nav {
      color: $active-color;
      font-family: "Plus Jakarta Sans";
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }

  .navbar {
    display: flex !important;
  }
}