<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card" style="padding: 0 !important;">
        <div class="card-header">
          <h2 class="mb-0">Nova Categoria</h2>
        </div>
        <div class="card-body">
          <%= render 'form', category: @category %>
        </div>
      </div>
    </div>
  </div>
</div>
